body {
    background-color: #232323;
    margin: 0;
    font-family: 'source code pro black' ;
}

.square {
    width: 30%;
    background: #232323;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 800ms;
    --webkit-transition: background 800ms;
    --moz-transition: background 800ms;
}

#container {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 2em;
}

h1 {
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}


#bar {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    background-color: steelblue;
    color: white;
}

#colorDisplay {
    font-size: 150%;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: 'source code pro black' ;
    height: 100%;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 800ms;
    --webkit-transition: background 800ms;
    --moz-transition: background 800ms;
}
button:hover {
    background-color: steelblue;
    color: white;
}
#msg {
    display: inline-block;
    width: 7.4em;
}